*.bsc
*.dll
*.exe
*.idb
*.ilk
*.log
*.obj
*.pdb
*.recipe
*.res
*.sbr
*.tlog
*.vcxproj.FileListAbsolute.txt
*.vcxproj.user
.vs/
vcpkg_installed/
/Lite/Release/PCMan/Config/History
/Lite/Debug/PCMan/Config/History
